/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #c1c1c1 -20%,
    #5e5e5e 71%,
    #414141 150%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

button {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 2rem;
  color: #850a7d;
  transition: transform ease-in 0.1s;
}

button:hover {
  transform: scale(1.05);
}

.nextArrow {
  font-size: 2rem;
  color: #850a7d;
  transition: transform ease-in 0.1s;
  position: fixed;
  bottom: 40%;
  right: 10%;
}

.nextArrow:hover {
  transform: scale(1.05);
}

.quizButton {
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1rem;
  color: white;
  transition: transform ease-in 0.1s;
}

.quizButton:hover {
  transform: scale(1.05);
}

span {
  color: white;
  font-size: 1.5rem;
}

h1 {
  margin: 10px;
  text-decoration: underline overline #850a7d;
  font-size: 5em;
}

li {
  list-style: none;
  color: #850a7d;
}

a {
  text-decoration: none;
  color:#850a7d;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

#whiteText {
  color: white;
}

#colorText {
  color: #850a7d;
  font-weight: bold;
}

#boldText {
  font-weight: bold;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  position: absolute;
  right: 48%;
}

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 900px;
  z-index: 1;
}

#topBottomMargin {
  margin-top: 50px;
  margin-bottom: 10px;

}

.navbarContainer {
  width: 100%;
  height: 30px;
  text-align: center;
  align-self: flex-start;
  position: absolute;
  right: 0%;
  top: 5%;
}

.navbarContainer:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.navLink {
  line-height: 2em;
  font-size: 2em;
}

.scrollMenu {
  height: 50px;
  margin-left: 10px;
  overflow-y: scroll;
  white-space: nowrap;
}

.quizBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  width: 450px;
  border-radius: 10px;
  background-color: #d8dcd8;
  border: 1px solid #850a7d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  padding: 30px;

}

.quizQuestion {
  height: 20px;

}

.quizOptions {
  height: 100px;
}

.quizImage {
  height: 180px;
  width: auto;
  position: relative;
  right: -18%
}

.quizResources {
  height: 50px;
  overflow-y: scroll;
  white-space: nowrap;
}

.quizAnswer {
  display: flex;
}
